<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <div>
      <div id="chatbox">
        <p class="botText"><span>Hi! I'm Chatterbot.</span></p>
      </div>
      {% for i in chat %}
      <p class="userText"><span> {{i["chat"]}} </span></p>
      {% endfor %}
      <form action="{{ url_for('form') }}" method="POST">
      <div id="userInput">
        <input id="textInput" type="text" name="text" placeholder="Message">
        <input id="buttonInput" type="submit" value="Send">
      </div>
      </form>
    </div>
  </body>
</html>